<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase  /lido-career/
    RewriteCond %{REQUEST_FilENAME}  !-f
    RewriteCond %{REQUEST_FilENAME}  !-d
    RewriteRule ^(.*)$  index.php/$1 [L]
</IfModule>