<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lido Group</title>
        <link href=".../assets/img/img-landing/logo_webpage.png" rel="shortcut icon" />
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../assets/css/styles-landing.css">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="header" style="z-index: 1000;">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img class="logo-brand" src="../assets/img/img-landing/logo_lidowhite.png"/></a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon">
                      <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
                    </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                     
                   
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                      <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="#home">Home</a>
                      <li>
                          <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="#about">About Us</a>
                          <li>
                              <li class="nav-item">
                                  <a class="nav-link" aria-current="page" href="#contact">Join With Us</a>
                              <li>
                      </ul>
                     
                           <!-- Right elements -->
                           <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user cursor-pointer"></i>
                <span class="d-sm-inline d-none"></span>
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Contact & FAQ</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a href="" class="dropdown-item border-radius-md tombol-logout">
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Log Out</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
                    
                  </div>
                </div>
              </nav>
          </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"> We Are <span class="">Lido Grosir</span></h1>
                    <h4 class="home__subtitle"> Lido Grosir is One of the Best Retail Companies in Indonesia </h4>

                    <div class="home__scroll">
                        <a class="background-button"
                        ><span class="background-btn-title">Join With Us</span
                        ><i class="fa-solid fa-circle-chevron-right"></i
                        ></a>
                    </div>

                    <img src="../assets/img/img-landing/background-image.png" alt="" class="home__img">
                </div>
            </section>
            <section class="about section" id="about">

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="../assets/img/img-landing/about-us-background-one.jpg">
                    </div>

                    <div>
                        <h2 class="about__subtitle">Di Lido Grosir ada apa aja sih ?</h2>
                        <span class="about__profession">Grosir dan Retail</span>
                        <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae blanditiis.</p>

                 
                    </div>
                </div>
                <div class="about__container bd-grid">
                    <div>
                        <span class="about__profession">Grosir dan Retail</span>
                        <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae blanditiis.</p>
                    </div>
                    <div class="about__img">
                        <img src="../assets/img/img-landing/about-us-background-two.jpg">
                    </div>
                </div>
            </section>
            <section class="content" id="contact">
              <div class="d-flex justify-content-center bd-grid">
                <img src="../assets/img/img-landing/logo_webpage.png">
              </div>
              <div class="d-flex justify-content-center bd-grid">
                <h3 class="m-5">Bergabunglah Bersama Kami</h3>
              </div>
              <div class="d-flex justify-content-center bd-grid">
                <img class="join-with" src="../assets/img/img-landing/join-with-us.png">
              </div>
              <div class="d-flex justify-content-center bd-grid">
                <div class="card text-bg-danger mb-3 vision" style="max-width: 40rem;">
                  <!-- <div class="card-header">Visi</div> -->
                  <div class="card-body">
                    <h5 class="card-title">Visi Lido Grosir</h5>
                    <p class="card-text">Menjadi perusahaan penyedia solusi kebutuhan masyarakat yang berskala nasional dengan mengedapankan teknologi, inovasi dan ketrampilan yang cepat, fokus dan flexsible.</p>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center bd-grid">
                <div class="card text-bg-danger mb-3 mission" style="max-width: 40rem;">
                  <!-- <div class="card-header">Visi</div> -->
                  <div class="card-body">
                    <h5 class="card-title">Misi Lido Grosir</h5>
                    <ol>
                      <li>Menghasilkan laba yang pantas untuk mendukung pengembangan perusahaan.</li>
                      <li>Menyediakan berbagai jenis priduk FMCG dan pendukungnya sebagai solusi yang sesuai dengan kebutuhan industri, pemerintah dan masyarkat dengan mutu, harga dan pasokan yang berdaya saing tinggi mengelalui pengelolaan terpercaya demi kepuasan pelanggan.</li>
                      <li>Memberikan penghargaan kepada seluruh karyawan dan staf melalui pemberian kesejahteraan yang memadai, dan kesempatan untuk pengembangan karier serta melakukan inovasi secara terus menerus.</li>
                      <li>Menjalin kemitraan kerja sama dengan pemasok dan penyalur yang saling menguntungkan.</li>
                      <li>memberikan perharian yang tulus kepada masyarakat melalui pemberdayaan pelatihan dan penciptaan lapangan kerja.</li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center bd-grid">
                <h3 class="m-5">Available Position For You</h3>
              </div>
                  <div>
                    <div class="job-search">
                      <div class="accordion" id="accordionExample">
                        <div  class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button content-division" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              SHOP
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <div class="row m-2">
                                <div class="col-lg-6 mt-3 mb-3">
                                  <div class="content-job">KASIR</div>
                                </div>
                                <div class="col-lg-6 mt-3 mb-3 d-flex flex-row-reverse">
                                  <div class="content-button-job"> 
                                    <a class="content-button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    ><span class="content-btn-title">Apply This</span
                                    ></a></div>
                                </div>
                                <div class="col-lg-6 mt-3 mb-3">
                                  <div class="content-job">PRAMUNIAGA</div>
                                </div>
                                <div class="col-lg-6 mt-3 mb-3 d-flex flex-row-reverse">
                                  <div class="content-button-job"> 
                                    <a class="content-button"  data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    ><span class="content-btn-title">Apply This</span
                                    ></a></div>
                                </div>
                                
                              
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button content-division" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"> SHOP </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="row m-2">
                        <div class="col-lg-6 mt-3 mb-3">
                          <div class="content-job">KASIR</div>
                        </div>
                        <div class="col-lg-6 mt-3 mb-3 d-flex flex-row-reverse">
                          <div class="content-button-job">
                            <a class="content-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              <span class="content-btn-title">Apply This</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-6 mt-3 mb-3">
                          <div class="content-job">PRAMUNIAGA</div>
                        </div>
                        <div class="col-lg-6 mt-3 mb-3 d-flex flex-row-reverse">
                          <div class="content-button-job">
                            <a class="content-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              <span class="content-btn-title">Apply This</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Kasir</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Description</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, molestias iste amet unde expedita, vero, explicabo inventore ullam aut possimus veritatis ex neque id pariatur excepturi rem maxime autem quas.</p>
              <h4>Qualification</h4>
              <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
      <section class="contact-map">
        <div class="d-flex justify-content-center bd-grid">
          <h3 class="m-5">Our Office Location</h3>
        </div>
        <iframe src="https://maps.google.com/maps?width=588&amp;height=281&amp;hl=en&amp;q=ethes tech&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
    </main>
    <!--===== FOOTER =====-->
    <footer class="footer section">
      <div class="footer__container bd-grid">
        <div class="footer__data">
          <h2>Lido Grosir</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quibusdam earum iusto ipsa recusandae nesciunt a error est. Soluta architecto facere enim possimus. Adipisci mollitia deserunt unde accusantium itaque fugit!</p>
          <br>
          <h4>Lido Grosir</h4>
          <div>Kec Kadangan, Kabupaten Magelang, Jawa Tengah</div>
          <div class="row">
            <div class="col-lg-6">
              <img src=".././assets/img/img-landing/icon/phone.png">
              <span class="phone-num">0920192019201 <span>
            </div>
            <div class="col-lg-6">
              <img src=".././assets/img/img-landing/icon/email.png">
              <span class="phone-num">info@info</span>
            </div>
          </div>
        </div>
        <div class="footer__data">
          <h2 class="footer__title">LAYANAN</h2>
          <ul>
            <li>
              <a href="#about" class="footer__link">Toko Yang Tersebar di Jawa Tengah</a>
            </li>
            <li>
              <a href="#skills" class="footer__link">Tentang Kami</a>
            </li>
            <li>
              <a href="#portfolio" class="footer__link">Hubungi Kami</a>
            </li>
            <li>
              <a href="#Contact" class="footer__link">Bantuan</a>
            </li>
          </ul>
        </div>
        <div class="footer__data">
          <h2 class="footer__title">FOLLOW</h2>
          <a href="#" class="footer__social">
            <i class='bx bxl-facebook'></i>
          </a>
          <a href="#" class="footer__social">
            <i class='bx bxl-instagram'></i>
          </a>
          <a href="#" class="footer__social">
            <i class='bx bxl-twitter'></i>
          </a>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/nav.js"></script>
    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--===== MAIN JS =====-->
    <script src="../assets/js/main-landing.js"></script>
  </body>
</html>